[Unit]
Description=Hover DDNS Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/node /path/to/your/clone/main.js

[Install]
WantedBy=multi-user.target